@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 53 31% 95%;
  --foreground: 60 4% 11%;
  --primary: 0 0 0;
  --primary-foreground: 0 0 0;
  --accent: 224 100% 77%;
  --accent-foreground: 225 100 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 53 31% 95%;
    --foreground: 60 4% 11%;
    --primary: 0 0 0;
    --primary-foreground: 0 0 0;
    --accent: 224 100% 77%;
    --accent-foreground: 225 100 100;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply min-h-svh bg-background text-foreground;
  }
}
